{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "repositoryUrl": "https://github.com/Sean89us/KonoSuba-Short-Stories-EBook.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer"
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [],
        "successComment": false,
        "failComment": false
      }
    ]
  ]
}
